@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* mb-8 text-gray-400 text-center max-w-2xl text-md lg:text-lg  */
  
  @layer components {
    .flex-center {
      @apply flex justify-center items-center;
    }
  
    .flex-between {
      @apply flex justify-between items-center;
    }
    .flex-start{
      @apply flex flex-col items-start justify-center p-8;
    }

    .headings {
      @apply text-gradient-1 text-[26px] md:text-[60px] lg:leading-[75px] font-semibold mb-4 ;
    }
    .headings-2 {
      @apply text-gradient-1 text-[26px] md:text-[60px] lg:leading-[75px] font-semibold mb-4;
    }
    .bodyText{
        @apply mb-8 text-gray-400 text-center max-w-2xl lg:text-lg ;
    }
  
    .input {
      @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    }
  }
  
  @layer utilities {
    .padding {
      @apply sm:px-16 px-4 sm:py-16 py-10;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-24 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  
    /* .info-text {
      @apply text-slate-gray text-lg leading-7;
    } */
  }
.text-gradient {
  background: radial-gradient(#F2F6FB, #CDD1D9, #F2F6FB); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 

}

.text-gradient-1{
  background: linear-gradient(90deg, #b3b3b3, #fff, #b3b3b3); /* Adjust the colors as per your design */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
  /* conic-gradient(red 0deg, orange 90deg, yellow 180deg, green 270deg, blue 360deg); */
}


.glassmorphism {
  background: rgba(245, 244, 244, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgb(22, 22, 23, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
}
.glassmorphism3 {
  background: rgb(22, 22, 23, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
}